<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body>
    <%- include('nav'); %> <% if(err){ %>
    <p style="color: red; text-align: center;">Add Successful</p>
    <% } %> <%- include('form') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
