<form class="main" method="POST">
  <div class="form-group head">
    <label>Heading</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput"
      name="heading"
      required
    />
  </div>
  <div class="form-group blog">
    <label>Write your blog</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="10"
      name="textblog"
      required
    ></textarea>
  </div>
  <button class="btn">Published</button>
</form>
